.btn-flat {
  color: black;
  padding: 8px 24px;
  background: $yellow;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  color: black;
  background: #F2E344;
}

button {
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  // margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button-lista {
  background-color: white; 
  color: black; 
  border: 2px solid rgba(19,61,109,1);
  // position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
  min-width: 80px;
}

.button-lista:hover {
  background-color: #53C0EB;
  color: white;
}

.picked {
  background-color: #53C0EB;
  color: white;
}

.button-install {
  background-color: #fff159; 
  color: #53C0EB; 
  border: 1px solid #53C0EB;
  // position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  min-width: 180px;
  letter-spacing: 2px;
  align-self: center;
}