.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
}

.info-header {
  font-size: 1.5em;
  font-weight: bold;
}

.fuel-types-list {
  list-style: none;
  padding-left: 0;
}

.price-list {
  display: flex;
  justify-content: space-between;
}

#name {
  font-weight: bold;
}
